# Algod Instance
export ALGOD_TOKEN="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
export ALGOD_SERVER="http://localhost"
export ALGOD_PORT="4001"

export KMD_TOKEN="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
export KMD_SERVER="http://localhost"
export KMD_PORT="4002"

export INDEXER_TOKEN=""
export INDEXER_SERVER="http://localhost"
export INDEXER_PORT="8980"

# Creator Content
export ADDR_CREATOR="5IO64R3KOSRZU6PWRTA5C2ABSONFJAS6VDVZ6QJMWXWWBBAW2R2BJ22D2M"
export MNEMONIC_CREATOR=""